@model IEnumerable<Store.Models.CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.ErrorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.SuccessMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div id="cart">
    
    @if (Model.Count() == 0)
    {
        <p>Your cart is empty</p>
    }
    else
    {
        <ul id="cart-items" class="list-group">

            @foreach (var item in Model)
            {
                <li class="d-flex align-items-center mb-4">
                    <div class="me-auto">
                        @item.Name - $@item.Price
                    </div>
                    <div class="mx-3">
                        Quantity: <input type="number" min="1" value="@item.Quantity" class="form-control d-inline-block w-25" onchange="updateQuantity(@item.Id, this.value)" />
                    </div>
                    <button onclick="removeFromCart(@item.Id)" class="btn btn-danger mb-lg-4">Remove</button>
                </li>
            }
        </ul>
        <p>Total: $<span id="total-price">@Model.Sum(item => item.Price * item.Quantity)</span></p>
        <form asp-controller="CartItems" asp-action="Checkout" method="post">
            <button type="submit" class="btn btn-primary">Checkout</button>
        </form>
    }
</div>

<script src="~/js/site.js"></script>

